In [78]:
!rm test1.sqlite
!rm test2.sqlite
!rm hawaii.sqlite

'rm' is not recognized as an internal or external command,
operable program or batch file.
'rm' is not recognized as an internal or external command,
operable program or batch file.
'rm' is not recognized as an internal or external command,
operable program or batch file.

In [79]:
import pandas as pd
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, ForeignKey
import sqlite3

# from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [80]:
file_path_measurements = "Resources/clean_hawaii_measurements.csv"
file_path_stations = "Resources/clean_hawaii_stations.csv"

clean_data_measurements = pd.read_csv(file_path_measurements, index_col=0)
clean_data_stations = pd.read_csv(file_path_stations, index_col=0)

In [81]:
clean_data_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [82]:
clean_data_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [83]:
# Define our measurements table
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String, ForeignKey("station.station"))
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
    
    
# Define our stations table
class Station(Base):
    __tablename__ = 'station'
    station = Column(String, primary_key=True)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

NameError: name 'foreignKey' is not defined

In [84]:
Base.metadata.tables

immutabledict({})

In [54]:
# conn = sqlite3.connect('Resources/test1.sqlite')
# conn2 = sqlite3.connect('Resources/test2.sqlite')

In [55]:
# clean_data_measurements.to_sql('measurement', conn, if_exists='append', index=False)
# clean_data_stations.to_sql('station', conn2, if_exists='append', index=False)

In [56]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)

#Create the database
Base.metadata.create_all(engine)

[]

In [58]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [67]:
clean_data_measurements.to_sql('measurement', engine, if_exists='append', index=False)
clean_data_stations.to_sql('station', engine, if_exists='append', index=False)

In [68]:
engine.execute('SELECT * FROM station').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [60]:
# inspector.get_columns('station')

In [61]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [62]:
# DBSession = sessionmaker()
# DBSession.bind = engine
# session = DBSession()
# Make a query to find all Persons in the database
# session.query(Station).all()

In [63]:
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station VARCHAR
name VARCHAR
latitude FLOAT
longitude FLOAT
elevation FLOAT

[]